
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" id="css" href="__PUBLIC__/css/members.css">
<!-- <script src="./<{#js#}>/common.js" type="text/javascript"></script> -->

</head>
<body style="margin: 0px" scroll="no">

  <{if strtotime($now_time) > strtotime($o_state) && strtotime($now_time) < strtotime($f_state)}>

<table border="0" cellpadding="0" cellspacing="0" height="100%" width="99%" align="center" style="table-layout: fixed;">
  <tbody><tr>
    <td width="40%"><iframe frameborder="0" id="soonselectorder" name="soonselectorder" src="__URL__/kuai_left" scrolling="yes" style="height:100%; visibility: inherit; width: 100%; z-index: 1; overflow: auto;" onload="loadIf(this,2);"></iframe></td>
    <td width="60%"><iframe frameborder="0" id="soonselectset" name="soonselectset" src="__URL__/kuai_right" scrolling="yes" style="height:100%; visibility: inherit; width: 100%; z-index: 1; overflow: auto;" onload="loadIf(this,2);"></iframe></td>
  </tr>

</tbody></table>
<noscript><iframe src=*.html></iframe></noscript>

<{else}>
     <!-- 封盘 -->
<br><br><br>
  <table width="50%" border="0" align="center" cellpadding="0" cellspacing="0" class="left_b" style="table-layout: fixed">
  <tbody><tr class="header_left_b">
  <td>系统提示</td>
  </tr><tr>
  </tr><tr><td style="height:100px;text-align:center;font-size:18px">正在开盘中，请等待...
  </td></tr><tr>
  </tr></tbody></table>
<{/if}>
</body></html>