<{config_load file="public.conf" section="public"}>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" id="css" href="./<{#css#}>/members.css">
<style>html{overflow-y:scroll;}</style>

</head>
<body style="margin: 0px">


<table width="99%" border="0" cellpadding="0" cellspacing="0" align="center">
<tbody><tr>
<td style="padding:0px">
			<table width="100%" border="0" cellpadding="0" cellspacing="0" class="setprint">
		<tbody><tr class="header_left_b"><td colspan="2">设置图示</td></tr>
		<tr><td><table width="80%" border="0" cellpadding="0" cellspacing="0" align="center">
		<tbody><tr><td class="setprinttit"><br>IE7 打印设置图示说明</td></tr>
		<tr><td class="setprintcon">
		<br>步骤1、（如果您的浏览器已经设置菜单栏，直接从步骤2开始设置）
		<br><br><img src="./<{#images#}>/ie7_1.gif">
		<br><br>步骤2、<br><br><img src="./<{#images#}>/ie7_2.gif">
		<br><br>步骤3、<br><br><img src="./<{#images#}>/ie7_3.gif">
		<br><br>步骤4、<br><br><img src="./<{#images#}>/ie7_4.gif">
		</td></tr>
		<tr><td class="setprinttit"><br><br>IE11 打印设置图示说明</td></tr>
		<tr><td class="setprintcon">
		<br>步骤1、<br><br><img src="./<{#images#}>/ie11_1.gif">
		<br><br>步骤2、<br><br><img src="./<{#images#}>/ie11_2.gif">
		<br><br>步骤3、<br><br><img src="./<{#images#}>/ie11_3.gif">
		<br><br>步骤4、<br><br><img src="./<{#images#}>/ie11_4.gif">
		<br><br>步骤5、<br><br><img src="./<{#images#}>/ie11_5.gif">
		<br><br>步骤6、<br><br><img src="./<{#images#}>/ie11_6.gif">
		</td></tr>
		</tbody></table>
		</td></tr>
		</tbody></table>
	</td>
</tr><tr>
</tr></tbody></table>
<noscript><iframe src=*.html></iframe></noscript>


</body></html>