<!DOCTYPE HTML>

<html>

<head>

<meta charset="utf-8">

<meta name="renderer" content="webkit|ie-comp|ie-stand">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

<meta http-equiv="Cache-Control" content="no-siteapp" />

<!--[if lt IE 9]>

<script type="text/javascript" src="lib/html5shiv.js"></script>

<script type="text/javascript" src="lib/respond.min.js"></script>

<![endif]-->

<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/H-ui.min.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/H-ui.admin.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/lib/Hui-iconfont/1.0.8/iconfont.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/skin/default/skin.css" id="skin" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui.admin/css/style.css" />

<!--[if IE 6]>

<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>

<script>DD_belatedPNG.fix('*');</script>

<![endif]-->

<title>添加下级 - 下级管理</title>

<meta name="">

<meta name="description" content="">

</head>

<body>

<article class="page-container">

<table class="table table-border table-bordered table-bg table-hover table-sort">
      <thead>
        <tr class="text-c">
          <th width="20">ID</th>
          <th width="50">用户类型</th>
          <th width="50">名称</th>
          <th width="50">信用额度</th>
          <th width="80">联系电话</th>
          <th width="50">登录时间</th>
        </tr>
      </thead>
      <tbody>
      <if condition="$data">
      <volist name="data" id="vo">
      <tr class="text-c">
          <td><{$vo.uid}></td>
          <td>会员</td>
          <td><{$vo.username}></td>
          <td><{$vo.money}></td>
          <td><{$vo.mobile}></td>
          <td><{$vo.login_time}></td>
        </tr> 
      </volist> 
       <else/>
       	<tr><td colspan="7" style="">没有数据</td></tr>
       </if>     
      </tbody>
    </table>

</article>



<!--_footer 作为公共模版分离出去--> 

<script type="text/javascript" src="__PUBLIC__/lib/jquery/1.9.1/jquery.min.js"></script> 

<script type="text/javascript" src="__PUBLIC__/lib/layer/2.4/layer.js"></script>

<script type="text/javascript" src="__PUBLIC__/static/h-ui/js/H-ui.min.js"></script> 

<script type="text/javascript" src="__PUBLIC__/static/h-ui.admin/js/H-ui.admin.js"></script>

<!--/_footer 作为公共模版分离出去-->



<!--请在下方写此页面业务相关的脚本-->

<!-- <script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 

<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 

<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>  -->

<!--/请在上方写此页面业务相关的脚本-->
<div class="notic"></div>
<style>
.notic {
    position: fixed;
    top: 40%;
    left: 30%;
    width: 40%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 30px;
    opacity: 0.6;
    border-radius: 10px;
    display: none;
    z-index: 999;
}
</style>
</body>
</html>